<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords"
            content="restaurant Gourani,restaurant Bucuresti,meniu restaurant,paste,grill,salate,pizza,sosuri,desert,aperitive,bauturi,mancare,sucuri,cafea,bere,cocktail,eveniment restaurant,meniu restaurant">
        <meta name="description" content="GOURANI - THE PLACE WHERE EVERY DETAIL TELLS A STORY.">
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>Restaurant GOURANI - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>