<!DOCTYPE html>
<html lang="ro">

    <head>
        <title>Restaurantul Gourani</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords"
            content="restaurant Gourani,restaurant Bucuresti,meniu restaurant,paste,grill,salate,pizza,sosuri,desert,aperitive,bauturi,mancare,sucuri,cafea,bere,cocktail,eveniment restaurant,meniu restaurant">
        <meta name="description" content="GOURANI - THE PLACE WHERE EVERY DETAIL TELLS A STORY.">
        <%- include("../fragmente/head.ejs")  %>
    </head>

    <body>
        <%- include("../fragmente/header.ejs")  %>

        <main>
            <section id="despre">
                <h2>DESPRE</h2>
                <section id="prezentare">
                    <h3>O scurtă prezentare a acestui restaurant</h3>
                    <p>Gourani este locul unde fiecare detaliu spune o poveste. Situat în imediata apropiere a
                        parcului IOR, la etajul 3 în galeriile <b>Titan</b>,
                        Gourani este un spațiu plin de vitalitate și relaxare, perfect pentru a petrece momente
                        deosebite în orice moment al zilei. Inspirat de
                        frumusețea formelor naturii, restaurantul Gourani a fost creat pentru a celebra
                        complexitatea acesteia, transformându-se într-o destinație
                        în sine, nu doar un simplu restaurant. De la iluminarea excentrică până la elementele de
                        decor îmbinate într-un mod surprinzător, Gourani
                        dorește să îndeplinească dorințele nonconformiste ale oaspeților săi. Astfel, vă invităm
                        să vă bucurați de priveliștea panoramică a parcului
                        IOR în timp ce savurați mâncarea preferată, un pahar de sucuri sau o conversație plăcută.
                        Vă invităm să experimentați gustul autentic al
                        preparatelor noastre culinare și să vă bucurați de o experiență gastronomică
                        de neuitat. Sperăm să vă simțiti cât mai bine și să nu experimentați nici dumneavoastră, dar
                        nici noi, evenimente, ca în clipul de mai jos(un scurt moment de amuzament care sperăm că vă
                        va distra):</p>
                    <div class="taburi-iframee">
                        <a href="https://www.youtube.com/embed/km4ziaZUZDU" target="ifr-videoo"></a>

                    </div>
                    <iframe name="ifr-videoo" width="560" height="315" src="https://www.youtube.com/embed/km4ziaZUZDU"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                </section>
                <section id="program">
                    <div class="container">
                        <h2>Program</h2>
                        <table id="tab-program">
                            <thead>

                                <tr>
                                    <th>Perioadă</th>
                                    <th>Zi</th>
                                    <th>Interval</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="5">Zile<br>Lucrătoare</td>
                                    <td>Luni</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td>Marti</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td>Miercuri</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td>Joi</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td>sucurieri</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Weekend</td>
                                    <td>Sambata</td>
                                    <td>10:00-02:00</td>
                                </tr>
                                <tr>
                                    <td>Duminica</td>
                                    <td>10:00-00:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </main>
        <%- include("../fragmente/footer.ejs")  %>
    </body>

</html>