#imag-d {
  overflow: hidden;
  transition: all 0.2s;
}

#imag-d:hover {
  border-radius: 15px;
  transition: all 0.2s;
}


#gol1 {
  grid-area: z-gol1;
}

#gol2 {
  grid-area: z-gol2;
}
#grid-galerie {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-template-areas:
    ". . . "
    ". z-gol1 ."
    ". . ."
    ". z-gol2 ."
    ". . .";
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  counter-reset: nrimag 0;
}

#grid-galerie img {
  width: 100%;
}

#grid-galerie figure {
  padding: 1.2em;
}


#grid-galerie figcaption {
  counter-increment: nrimag 1;
  text-align: center;
  margin-top: 0.7em;
}

#grid-galerie figcaption::before {
  content: counter(nrimag, lower-roman) ")";
}
#grid-galerie img:hover {
  opacity: 0.5;
  transform: scale(1.4);
  transform-origin: top center;
  transition: all 0.125s;
}
@media screen and (max-width:1000px) {
  #grid-galerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      ". ."
      ". ."
      ". ."
      ". ."
      ". .";
  }

  #gol1, #gol2 {
    display: none;
  }

}

@media screen and (max-width:700px) {
  #grid-galerie {
    display: block;
  }
}


