html {
    font-size: 12px;
}

body {
    --spatiere-pagina: 10px;
    --padding-sectiune: 5px;
}

#grid-pagina {
    display: block;
}

#grid-pagina>* {
    margin-bottom: 10px;
}


.container {
    overflow-x: scroll;
    max-width: 100%;
} 
.taburi-iframe a {
    width: 70%;
}
