html {
    font-size: 16px;
}


body {
    --spatiere-pagina: 30px;
    --padding-sectiune: 10px;
}



#grid-pagina {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "z-1 z-1 z-1"
        "z-2 z-2 z-2"
        "z-3 z-4 z-4"
        "z-3 z-4 z-4"
        "z-5 z-6 z-6"
        "z-7 z-8 z-8"
    ;
    gap: 14px 10px;  
}

.taburi-iframe {
    width:20%;
    font-size: 11px;
    right: 10%;
}
.taburi-iframe a:hover { 
    width: 110%;
    padding-left: 12px;
}
.flex-iframe iframe { 
    width: 70%;
    height: 400px;
}
