html {
    font-size: 12px;
}

body {
    --spatiere-pagina: 10px;
    --padding-sectiune: 5px;
}

#grid-pagina {
    display: block;
}

#grid-pagina>* {
    margin-bottom: 10px;
}


.container {
    overflow-x: scroll;
    max-width: 100%;
} 
.taburi-iframe {
    width:25%;
    font-size: 9px;
    right: 5%;
}
.taburi-iframe a:hover { 
    width: 110%;
    padding-left: 12px;
}
.flex-iframe iframe { 
    width: 70%;
    height: 250px;
}
