#watermark{
    display: none;
}
@media print{
    h1{
        margin-top: 50%;
        text-align: center;
        margin-left: 1cm;
        size: 2.5rem;

    }
    h1{
        page-break-after: always;
    }

    #banner{
        border: 1px dotted black;
        width: 80%;
        text-align: center;
        justify-content: center;
        position:absolute;
        top: 0;
        margin-left: 40px;
    }


    #watermark{
        display: block;
        position: fixed;
        bottom: 0;
        color: rgba(0, 0, 0, 0.4);
        right: 0;
        width: 100px;
        height: 75.6px; /*2cm*/
    }

    #watermark::after{
        opacity:0.65;
        padding:6px;
        display: block;
        background: white;
        border:2px double black;
        border-radius: 10px;
        content:"Maria Antonia";
    }


    #grid-pagina{
        display: block;
    }
    #grid-pagina > * {
        margin-left: 20px;
    }
    #grid-pagina section:nth-child(1){
        page-break-after: always;
    }

    ul.menius,  .scroll-to-top, figure, #intrbfrec, .taburi-iframee, .flex-container{
        display: none;
    }

    footer{
        page-break-before: always;
    }
    a {
        text-decoration: none;
        color: black;
     }
}

@page {
    size: A4 portrait;
    margin-bottom:2cm;
    margin-top:2cm;
    counter-increment: page;

}
@page:left{

    margin-left:2.5cm;
    margin-right:0.5cm;
}
@page:right{

    margin-right:2.5cm;
    margin-left:0.5cm;
}