<footer>
    <p id="banner">Acesta este un proiect școlar!</p>
    <section id="intrbfrec">
        <h4>Întrebări frecvente:</h4>
        <details>

            <summary>Aveți opțiuni vegetariane/vegane pe meniu?</summary>
            <p>Da, avem opțiuni vegetariene/vegane pe meniul nostru. Vă rugăm să verificați meniul nostru online
                pentru a vedea opțiunile disponibile.</p>
        </details>

        <details>
            <summary>Este necesară o rezervare?</summary>
            <p>Recomandăm rezervările pentru a vă asigura că aveți locuri disponibile în timpul vizitei dvs. la
                restaurant. Puteți face o rezervare prin telefonul
                afișat.</p>
        </details>

        <details>
            <summary>Acceptați plăți cu cardul?</summary>
            <p>Da, acceptăm plăți cu cardul. Acceptăm, de asemenea, și plăți cash.</p>
        </details>

        <details>
            <summary>
                Aveți o terasă sau o zonă de luat masa în aer liber?
            </summary>
            <p>Da, avem o terasă disponibilă pentru clienții noștri. Vă rugăm să ne sunați sau să faceți o
                rezervare online pentru a vă asigura că aveți
                locuri disponibile în aer liber.</p>
        </details>
    </section>
    <a href="#" class="scroll-to-top">
        <span class="arrow">&#129081;</span>
        <span class="tooltip">Mergi sus</span>
    </a>
    <address>


        <a href="mailto:anto333@gmail.com">Trimite un mail</a>
        <br>
        <a href="tel:+40737976993">Trimite un mesaj/Sună</a>
        <br>
        <a href="https://wa.link/sbx4df">Link către WhatsApp</a>
        <br>
        Restaurantul este situat pe Str. Lalelor nr.23, Sector 2, București
        <a href="https://goo.gl/maps/WEiTWkg7eTcS3bbn6" target="_blank">Deschide locația pe Google Maps</a>
        <a href="./resurse/TERMENI_SI_CONDITII.pdf" download>TERMENI ȘI CONDIȚII</a>
    </address>
    <small>Copyright &copy; <time datetime="2023-03-05">05 Martie 2023</time></small>
</footer>