<br>
<footer>
    <br>
    <br>
    <p id="banner">Acesta este un proiect școlar!</p>
    <a href="#" class="scroll-to-top">
        <span class="arrow">&#129081;</span>
        <span class="tooltip">Mergi sus</span>
    </a>
    <address>


        <a href="mailto:anto333@gmail.com">Trimite un mail</a>
        <br>
        <a href="tel:+40737976993">Trimite un mesaj/Sună</a>
        <br>
        <a href="https://wa.link/sbx4df">Link către WhatsApp</a>
        <br>
        Restaurantul este situat pe Str. Lalelor nr.23, Sector 2, București
        <a href="https://goo.gl/maps/WEiTWkg7eTcS3bbn6" target="_blank">Deschide locația pe Google Maps</a>
        <a href="./resurse/TERMENI_SI_CONDITII.pdf" download>TERMENI ȘI CONDIȚII</a>
    </address>
    <small>Copyright &copy; <time datetime="2023-03-05">05 Martie 2023</time></small>
</footer>